.u-section-1 .u-sheet-1 {
  min-height: 837px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 737px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 29px;
}

.u-section-1 .u-text-1 {
  font-size: 4.0625rem;
  line-height: 1;
  font-weight: 300;
  margin: 0 36px 0 30px;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 19px 30px 0;
}

.u-section-1 .u-shape-1 {
  width: 354px;
  height: 15px;
  background-image: none;
  margin: 19px auto 0 30px;
}

.u-section-1 .u-text-3 {
  line-height: 2.2;
  font-size: 1rem;
  font-weight: 700;
  text-transform: none;
  margin: 58px 30px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-weight: 700;
  margin: 18px auto 0;
  padding: 20px 50px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 669px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  width: 556px;
  height: 556px;
  background-image: url("images/ggfg-min.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 608px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 570px;
  }

  .u-section-1 .u-image-1 {
    width: 486px;
    height: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-shape-1 {
    width: 276px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 508px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    width: 356px;
    height: 356px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1069px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 495px;
  }

  .u-section-1 .u-image-1 {
    width: 465px;
    height: 465px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 312px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 938px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 570px;
  background-image: url("images/ggfg-min.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 29px auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: -553px 158px 0 auto;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 21px 169px 0 auto;
}

.u-section-2 .u-shape-1 {
  width: 354px;
  height: 15px;
  background-image: none;
  margin: 29px 116px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 54px 21px 60px 670px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 838px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 470px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -453px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 491px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 360px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 271px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-2 .u-image-1 {
    width: 270px;
    height: 270px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 91px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-2 .u-image-1 {
    width: 170px;
    height: 170px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 99px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 106px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1094px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 113px auto 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  width: 793px;
  margin: 50px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto auto;
  margin-top: 38px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-gap: 30px 30px;
  min-height: 658px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-3 .u-image-1 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 270px;
  min-height: 254px;
  background-size: auto;
  height: auto;
  margin: -249px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 25px;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-size: auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0 30px 30px;
}

.u-section-3 .u-image-2 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-2 {
  width: 270px;
  min-height: 254px;
  background-size: auto;
  height: auto;
  margin: -249px 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 25px;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-size: auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 0 30px 30px;
}

.u-section-3 .u-image-3 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-3 {
  width: 270px;
  min-height: 254px;
  background-size: auto;
  height: auto;
  margin: -249px 0 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 25px;
}

.u-section-3 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-10 {
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-4 {
  background-size: auto;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 0 30px 30px;
}

.u-section-3 .u-image-4 {
  width: 255px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-4 {
  width: 270px;
  min-height: 254px;
  background-size: auto;
  height: auto;
  margin: -249px 0 0 auto;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 25px;
}

.u-section-3 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-13 {
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-14 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  margin: 46px auto 31px;
  padding: 20px 50px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 618px;
  }

  .u-section-3 .u-image-1 {
    width: 155px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-image-2 {
    width: 155px;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-image-3 {
    width: 155px;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-image-4 {
    width: 155px;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
  }

  .u-section-3 .u-group-1 {
    width: 377px;
  }

  .u-section-3 .u-image-2 {
    width: 300px;
  }

  .u-section-3 .u-group-2 {
    width: 377px;
  }

  .u-section-3 .u-image-3 {
    width: 300px;
  }

  .u-section-3 .u-group-3 {
    width: 377px;
  }

  .u-section-3 .u-image-4 {
    width: 300px;
  }

  .u-section-3 .u-group-4 {
    width: 377px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    width: 245px;
  }

  .u-section-3 .u-group-1 {
    width: 265px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    width: 245px;
  }

  .u-section-3 .u-group-2 {
    width: 265px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-3 {
    width: 245px;
  }

  .u-section-3 .u-group-3 {
    width: 265px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-4 {
    width: 245px;
  }

  .u-section-3 .u-group-4 {
    width: 265px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    width: 255px;
  }

  .u-section-3 .u-group-1 {
    min-height: 177px;
    margin-top: 0;
    width: 270px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    width: 255px;
  }

  .u-section-3 .u-group-2 {
    min-height: 177px;
    margin-top: 0;
    width: 270px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    width: 255px;
  }

  .u-section-3 .u-group-3 {
    min-height: 177px;
    margin-top: 0;
    width: 270px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-top: 0;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-4 {
    width: 255px;
  }

  .u-section-3 .u-group-4 {
    min-height: 177px;
    margin-top: 0;
    width: 270px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-top: 0;
  }
}