* {
  font-family: sans-serif;
  margin: 0;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  padding: 20px;
  background-color: whitesmoke;
}
#search {
  font-size: larger;
}
.title {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 400px;
}

.library {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.libraryunit {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}
.delbtn {
  background-color: blueviolet;
  color: #ffff;
  border-radius: 10px;
  font-size: large;
}
.addbook {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addbtn {
  background-color: blueviolet;
  color: #ffff;
  font-size: larger;
}
.bookName {
  font-size: large;
}
#newBook {
  font-size: larger;
}
