* {
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}
header {
  display: grid;
  grid-template-columns: 20% 60%;
  padding-left: 15%;
  padding-right: 15%;
}
section {
  padding-left: 15%;
  padding-right: 15%;
}
#logoIMG {
  height: 100%;
  width: 50%;
}
ul {
  display: flex;
  align-items: center;
}
li {
  padding-left: 10%;
  list-style: none;
}
.closeBTN {
  height: 24px;
  width: 24px;
}
.itemIMG {
  height: 100px;
  width: 100px;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

th,
td {
  border: 1px solid black;
}
.productInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding-left: 2%;
}
.productTitle {
  flex-grow: 5;
}
.functionPayment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5%;
}
#backToMenuBTN {
  color: white;
  background-color: #f1c50e;
  height: 5em;
  width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#UpdateBTN,
#checkoutBTN {
  color: white;
  background-color: #f1c50e;
  height: 5em;
  width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bigWrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-left: 15%;
  padding-right: 15%;
}
.promoWrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 50% 50%;
  padding: 5%;
}
.promoHeader {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-bottom: 5%;
}
.couponBTN {
  padding-left: 2%;
  background-color: #f1c50e;
  color: white;
}
.totalWrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 33%;
}
#cartTotals {
  grid-column-start: 1;
  grid-column-end: 3;
}
#checkoutBTN {
  float: right;
  padding-right: 15%;
  padding-left: 15%;
}
.checkoutDIV {
  padding-left: 15%;
  padding-right: 15%;
}
footer {
  background-color: black;
  color: white;
  margin-top: 20%;
  margin-bottom: 0;
  padding-bottom: 0;
  padding: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
