/* header style start */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

header {
  display: grid;
  grid-template-columns: 20% 50%;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #426d49;
  color: white;
}
#logoIMG {
  height: 100%;
  width: 50%;
}
.ul {
  display: flex;
  align-items: center;
}
.li {
  padding-left: 10%;
  list-style: none;
  color: white;
}
a {
  font-size: large;
}
a:link,
a:visited {
  color: white;
}

/* header style end */
section {
  padding-left: 15%;
  padding-right: 15%;
  font-family: sans-serif;
}
.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}
.contentText {
  padding: 10%;
  text-align: justify;
}
h1,
p {
  text-align: left;
  padding-top: 5%;
  font-size: large;
}
h1 {
  font-size: xxx-large;
}
i {
  font-weight: lighter;
}
.goToMenuBTN {
  color: white;
  background-color: #426d49;
  height: 5em;
  width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.bigIMG {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.ul1 {
  all: revert;
  text-align: left;
}
.li1 {
  text-align: left;
  list-style: none;
  padding-top: 5%;
  font-weight: bold;
}
/*featured product style */
#h1 {
  font-size: xx-large;
  color: #426d49;
  text-align: center;
}
.i {
  font-weight: light;
  color: grey;
}
.menuList {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  grid-template-rows: max-content;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}
.product {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: max-content;
  padding-left: 5%;
  padding-right: 5%;
}
.itemIMG {
  width: 75%;
  height: 75%;
  object-fit: cover;
  padding: 5%;
}
.productText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 15%;
}
.h2 {
  font-weight: light;
  font-size: xx-large;
  text-align: left;
}
.b {
  color: #426d49;
}
.button {
  height: 5em;
  width: 10em;
}
.checkoutBTN {
  height: 5em;
  width: 10em;
  background-color: #426d49;
  color: white;
}
button:hover {
  background-color: #64e9b1;
}
input:hover {
  background-color: #64e9b1;
}

/* featured product style end*/
footer {
  background-color: black;
  color: white;
  margin-top: 5%;
  padding: 0;
  height: 100px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.icon {
  width: auto;
  height: 50%;
  background-color: black;
}
